/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-Feb-2015, 16:16:50
    Author     : NONAMI-PC
*/
a{
    cursor: pointer;
    font-size:13px;
}
.upload_options h5{
    color:#a90329;
    font-weight: bolder;
    cursor:pointer;
}
.upload_options h5:hover{
  text-decoration: underline;
}
#form_header{
    text-align: right;
}
#form_header span{
    font-size:12px;

}
#inbox-table
{
  
}
#msg1{
    height:41px;
}
#delete_modal{
    margin-top: 250px;
}
.upload_page_forms{
    display: none;
}